<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
<display-name>Share Photos</display-name>
	
 	<servlet>
        <servlet-name>searchPhotoServlet</servlet-name>
        <servlet-class>edu.toronto.ece1779.gae.servlet.SearchPhotoServlet</servlet-class>
	</servlet>
 	<servlet>
        <servlet-name>addPhotoServlet</servlet-name>
        <servlet-class>edu.toronto.ece1779.gae.servlet.AddPhotoServlet</servlet-class>
	</servlet>
 	<servlet>
        <servlet-name>retrievePhotoDetailServlet</servlet-name>
        <servlet-class>edu.toronto.ece1779.gae.servlet.RetrievePhotoDetailServlet</servlet-class>
	</servlet>
 	<servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>edu.toronto.ece1779.gae.servlet.AddCommentServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>retrieveUserPhotosServlet</servlet-name>
        <servlet-class>edu.toronto.ece1779.gae.servlet.RetrieveUserPhotosServlet</servlet-class>
	</servlet>
			
	<servlet-mapping>
    	<servlet-name>searchPhotoServlet</servlet-name>
   	 	<url-pattern>/searchPhotoServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
    	<servlet-name>addPhotoServlet</servlet-name>
   	 	<url-pattern>/addPhotoServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
    	<servlet-name>retrievePhotoDetailServlet</servlet-name>
   	 	<url-pattern>/retrievePhotoDetailServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
    	<servlet-name>addCommentServlet</servlet-name>
   	 	<url-pattern>/addCommentServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
    	<servlet-name>retrieveUserPhotosServlet</servlet-name>
   	 	<url-pattern>/retrieveUserPhotosServlet</url-pattern>
	</servlet-mapping>	
			
	<welcome-file-list>
		<welcome-file>map.jsp</welcome-file>
	</welcome-file-list>
</web-app>
